.pokemon-wrapper{
  overflow-y: scroll;
  width:200px;
  height:500px;
  border-radius: 5px;
  text-align: center;

}

.pokemon-container{
  position: relative;
  right:27em;
  bottom: 5em;
}

.poke-header{

}

.pokeName:hover {
    background-color: white;
    cursor: pointer;
    font-family: sans-serif;
}
